{block content}
<h1 n:block="title">ADMIN SEKCE</h1>

<span>TO-DO // IN DEVELOPMENT</span>

<button>
    <a href="{plink :Messenger:Messages:}">Messenger</a>
</button>


<button>
    <a href="{plink :Front:Sign:out}">{_signOut}</a>
</button>
