<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
	<title>{ifset title}{include title|stripHtml} | {/ifset}DKing</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Daniel Kubánek">
	<meta name="description" content="DKing app">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="www/css/style.css?hash={\Nette\Utils\Random::generate(10)}">

	<link rel="icon" type="image/x-icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body class="container py-5 h-100">
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
        {include '_components/scripts.latte'}
    {/block}
</body>
</html>
