{varType App\Model\Entity\UserAccount $userAccount}
{varType Doctrine\Common\Collections\Collection $messageGroups}
{varType App\Model\Repository\MessageRepository $messageRepository}
{varType App\Model\Entity\MessageGroup|null $messageGroup}
{varType array $lastReadMessages}

{block content}

<div id="frame">
    {snippetArea sidePanelComponent}
        {include '../_components/sidePanel.latte', userAccount: $userAccount, messageGroups: $messageGroups, messageRepository: $messageRepository, providedMessageGroupId: $messageGroup?->getId(), lastReadMessages: $lastReadMessages}
    {/snippetArea}
    <div class="content">
        <h1 n:block=title class="text-center">{_addMessageGroup}</h1>

        {control addMessageGroupForm}
    </div>
</div>