{varType App\Model\Entity\UserAccount $userAccount}
{varType Doctrine\Common\Collections\Collection $messageGroups}
{varType App\Model\Repository\MessageRepository $messageRepository}
{varType App\Model\Entity\MessageGroup|null $messageGroup}
{varType array $lastReadMessages}

{block content}

<div id="frame">
    {snippetArea sidePanelComponent}
        {include '../_components/sidePanel.latte', userAccount: $userAccount, messageGroups: $messageGroups, messageRepository: $messageRepository, providedMessageGroupId: $messageGroup?->getId()}
    {/snippetArea}
    <div class="content">
        <div class="contact-profile">
            {snippet groupName}
                <div class="col-lg-10">
                    <p>{$messageGroup->getName()}</p>
                </div>
                <div class="col-lg-2 blackFaFa right">
                    {if !$messageGroup->isMain()}
                        <a n:href="groupSettings, id => $messageGroup->getId()">
                            <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
                        </a>
                        <span>|</span>
                        <a n:href="groupLeave, id => $messageGroup->getId(), userAccountId => $userAccount->getId()" id="groupLeave">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </a>
                    {/if}
                </div>
            {/snippet}
        </div>

        <div class="messages" id="messages-div">
            {snippet messages}
                <ul>
                    {var $lastReadMessage = $lastReadMessages[$messageGroup->getId()] ?? null}
                    {var $messages = $messageRepository->getMessagesByGroupId($messageGroup->getId())}

                    {foreach $messages as $message}
                        {if $message->getUserAccount() !== $userAccount}
                            <li class="sent">
                                <div>
                                    <span>
                                        <b>
                                            {$message->getUserAccount()?->getFullName()}
                                        </b>
                                        - {$message->getDateCreated()|date:'d. m. Y H:i:s'}
                                    </span>
                                </div>
                                <div>
                                    <p>{$message->getText()}</p>
                                </div>
                            </li>
                        {else}
                            <li class="replies right">
                                <div>
                                    <span>
                                        <b>
                                            {$message->getUserAccount()?->getFullName()}
                                        </b>
                                        - {$message->getDateCreated()|date:'d. m. Y H:i:s'}
                                    </span>
                                </div>
                                <div>
                                    <p>{$message->getText()}</p>
                                </div>
                            </li>
                        {/if}

                        {if $lastReadMessage === $message && !$iterator->isLast()}
                            <p id="unseen-messages" class="text-center unseenMessage"><b>{_newMessages}</b></p>
                        {/if}
                    {/foreach}

                    {if $lastReadMessage === null && count($messages) > 0}
                        <p id="unseen-messages" class="text-center unseenMessage"><b>{_newMemberInGroupText}</b></p>
                    {/if}
                </ul>
            {/snippet}
        </div>

        <div class="message-input">
            {snippet messageForm}
                <div class="wrap">
                    {control messageForm}
                </div>
            {/snippet}
        </div>
    </div>
</div>

<script>
    let userAccountId = {$userAccount->getId()};
    let messageGroupId = {$messageGroup->getId()};

    $(document).ready( function() {
        let unseenMessages = document.getElementById("unseen-messages");
        if (unseenMessages){
            let parent = document.getElementById("messages-div");
            let scrollingPosition = unseenMessages.scrollHeight - 100;

            parent.scrollTop = scrollingPosition > 0 ? scrollingPosition : 0;

            setTimeout(function (){
                setUnseenMessagesAsSeen();
            }, 5000);
        } else  {
            scrollToLastMessage();
        }

        scrollCurrentMessageGroupOnTheTop();
    });

    if (document.getElementById("unseen-messages")) {
        document.getElementById("unseen-messages").scrollIntoView()
    }

    $("#groupLeave").on('click', function (e) {
        let $result = confirm('Opravdu si přejete opustit skupinu?');

        if (!$result) {
            return false;
        }
    });

    function setUnseenMessagesAsSeen() {
        $.ajax({
            url: {link 'lastReadMessageChange!'},
            data: { userAccountId : userAccountId, messageGroupId: messageGroupId},
            type: "POST",
            complete: function (xhr) {
                xhr.identifier = 'redrawSnippet';
                setTimeout(function (){
                    redrawSnippets();
                }, 5500);
            }
        });
    }

    $(document).ajaxComplete(function(event, xhr) {
        if (xhr.identifier !== 'redrawSnippet') {
            scrollToLastMessage();
        }

        let messageInput = document.getElementById('messageInput');
        if (messageInput.hasAttribute('value')) {
            messageInput.setAttribute('value', '');
        }
        messageInput.focus()
    });

    function scrollToLastMessage() {
        let parent = document.getElementById("messages-div");
        parent.scrollTop = parent.scrollHeight;
    }

    function scrollCurrentMessageGroupOnTheTop() {
        let activeContact = document.getElementById("activeContact");

        let contacts = document.getElementById("contacts");
        contacts.scrollTop = activeContact.getBoundingClientRect().top - contacts.getBoundingClientRect().top;
    }
</script>