{form form, class => 'container', 'id' => App\FrontModule\Components\G2faCheckerForm::G2FA_CHECKER_FORM_ID}
    <div n:if="$form->hasErrors()" class="row cropped-row">
        <div class="col">
            <div n:foreach="$form->getErrors() as $error" class="alert alert-danger">
                <strong>{$error}</strong>
            </div>
        </div>
    </div>

    <p>{_g2faVerifyRequired}</p>

    <div class="form-group">
        <label n:name="g2faCode">{_g2faCode}</label>
        <input n:name="g2faCode" class="form-control"  type="text"/>
    </div>

    <div>
        <input n:name="send" class="btn btn-primary" />
    </div>
{/form}