<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
	<title>{ifset title}{include title|stripHtml} | {/ifset} DKing</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Daniel Kubánek">
	<meta name="description" content="DKing app">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="{$basePath}/netteForms.js"></script>
	<script src="{$basePath}/nette.ajax.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	<link rel="stylesheet" href="{$basePath}/css/style.css?hash={\Nette\Utils\Random::generate(10)}">

	<link rel="icon" type="image/x-icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	<script>
		$(function () {
			$.nette.init();
			redrawSnippets();
		});

		function redrawSnippets() {
			$.nette.ajax({
				url: {link 'redrawSnippets!'},
				complete: function (xhr) {
					xhr.identifier = 'redrawSnippet';
					setTimeout(function (){
						redrawSnippets();
					}, 5000);
				}
			});
		}
	</script>
</body>
</html>
