{form form, class => 'ajax', 'id' => App\MessengerModule\Components\MessageForm::MESSAGE_FORM_ID}
    <div n:if="$form->hasErrors()" class="row cropped-row">
        <div class="col">
            <div n:foreach="$form->getErrors() as $error" class="alert alert-danger">
                <strong>{$error}</strong>
            </div>
        </div>
    </div>

    <input n:name="message" id="messageInput" class="input" type="text" placeholder="Write your message..."/>

    <input n:name="send" class="submit" />
{/form}