{block content}

<div class="col-xl-10">
    <h1 n:block=title class="text-center">{_systemPasswordCheckRequired}</h1>

    <span>{_systemPasswordCheckRequiredText}</span>

    {control checker:checker}
</div>

