{varType App\Model\Entity\UserAccount $userAccount}
{varType Doctrine\Common\Collections\Collection $messageGroups}
{varType App\Model\Repository\MessageRepository $messageRepository}
{varType string|null $providedMessageGroupId}
{varType array $lastReadMessages}

{block content}

<div id="sidePanel">
    <div id="profile">
        <div class="wrap">
            <p>{$userAccount->getFullName()}</p>
            <div class="whiteFaFa right">
                <a n:href="default">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
                <span>|</span>
                <a n:href=":Front:Sign:out">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input id="searchInput" type="text" onkeyup="findMessageGroup()" placeholder="Search contacts..." />
    </div>
    <div id="contacts">
        {snippet sidePanel}
        <ul id="contactsUl" >
            {foreach $messageGroups as $messageGroup}
                {var $messageGroupId = $messageGroup->getId()}

                <a n:href="detail, $messageGroupId = $messageGroupId">
                    <li class="contact {if $providedMessageGroupId === $messageGroupId}active" id="activeContact{/if}">
                        {var $lastMessage = $messageRepository->getLastMessageByMessageGroupId($messageGroupId)}
                        {var $senderName = $lastMessage?->getUserAccount()
                            ? $lastMessage?->getUserAccount() === $userAccount
                                ? "You: "
                                : "{$lastMessage?->getUserAccount()->getFullName()}: "
                            : ""
                        }
                        {var $lastReadMessage = $lastReadMessages[$messageGroupId] ?? null}

                        <div class="wrap">
                            <div class="meta">
                                <p class="name">{$messageGroup->getName()}{if $lastReadMessage !== $lastMessage}<b class="orange"> - Nové zprávy</b>{/if}</p>
                                <p class="preview">{$senderName}{$lastMessage?->getText()}</p>
                            </div>
                        </div>
                    </li>
                </a>
            {/foreach}
        </ul>
        {/snippet}
    </div>
    <div id="bottom-bar">
        <a n:href="addContact" class="white">
            <button id="addcontact">
                <i class="fa fa-user-plus" aria-hidden="true"></i> <span>{_addMessageGroup}</span>
            </button>
        </a>
        <a n:href="settings, id => $userAccount->getId()" class="white">
            <button id="settings"><i class="fa fa-cog" aria-hidden="true"></i> <span>{_settings}</span></button>
        </a>
    </div>
</div>

<script>
    function findMessageGroup() {
        let searchInput, filter, contactsUl, li, groupName, i, txtValue;

        searchInput = document.getElementById("searchInput");
        filter = searchInput.value.toUpperCase();
        contactsUl = document.getElementById("contactsUl");
        li = contactsUl.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            groupName = li[i].getElementsByClassName("name")[0];
            txtValue = groupName.textContent || groupName.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>