<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Framework Micro-blog</title>

	<link rel="stylesheet" href="{$basePath}/css/style.css">
	{block head}{/block}
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}


	{include _components/scripts.latte}

	{block scripts}{/block}
</body>
</html>
