{block content}

<style>
    .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fccb90;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }

    @media (min-width: 768px) {
        .gradient-form {
            height: 100vh !important;
        }
    }
    @media (min-width: 769px) {
        .gradient-custom-2 {
            border-top-right-radius: .3rem;
            border-bottom-right-radius: .3rem;
        }
    }
</style>

<div class="col-xl-10">
    <h1 class="text-center" n:block=title>DKing Lite-MESSENGER</h1>

    <div class="col-lg-6">
        <h2 class="text-center">
            <span class="h2-FirstLetter">P</span>ÁR SLOV O PROJEKTU
        </h2>
        <p>
            {_DKingAboutProjekt|noescape}
        </p>

        <div class="text-center">
            <a n:href="Sign:in" class="btn btn-primary fa-lg gradient-custom-2 mb-3">{_signIn}</a> / <a n:href="Sign:up" class="btn btn-primary fa-lg gradient-custom-2 mb-3">{_signUp}</a>
        </div>
    </div>

    <div class="col-lg-6 text-center">
        <img src="www/images/example.png" class="articleImg" alt="Ukázková fotografie">
    </div>
</div>
