{form form, class => 'container', 'id' => App\MessengerModule\Components\MessageGroupSettingsForm::MESSAGE_GROUP_SETTINGS_FORM_ID}
    <div n:if="$form->hasErrors()" class="row cropped-row">
        <div class="col">
            <div n:foreach="$form->getErrors() as $error" class="alert alert-danger">
                <strong>{$error}</strong>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label n:name="messageGroupName">{_messageGroupNameChange}</label>
        <input n:name="messageGroupName" class="form-control" type="text" />
    </div>

    <div class="form-group">
        <label n:name="selectUsersForMessageGroup">{_selectUsersForMessageGroup}</label>
        <select n:name="selectUsersForMessageGroup" class="form-control js-states js-example-basic-multiple" multiple="multiple"/>
    </div>

    <div>
        <input n:name="send" class="btn btn-primary" />
    </div>
{/form}

<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
</script>