{form form, class => 'container', 'id' => App\FrontModule\Components\SignUpForm::SIGN_UP_FORM_ID}
    <div n:if="$form->hasErrors()" class="row cropped-row">
        <div class="col">
            <div n:foreach="$form->getErrors() as $error" class="alert alert-danger">
                <strong>{$error|noescape}</strong>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label n:name="email">{_email}</label>
        <input n:name="email" class="form-control" type="email" />
    </div>

    <div class="form-group">
        <label n:name="name">{_name}</label>
        <input n:name="name" class="form-control" type="text" />
    </div>

    <div class="form-group">
        <label n:name="surname">{_surname}</label>
        <input n:name="surname" class="form-control" type="text" />
    </div>

    <div class="form-group">
        <label n:name="password">{_password}</label>
        <input n:name="password" class="form-control" type="password" />
    </div>

    <div class="form-group">
        <label n:name="passwordVerify">{_passwordVerify}</label>
        <input n:name="passwordVerify" class="form-control" type="password" />
    </div>

    {var $sendButton = App\FrontModule\Components\SignUpForm::SUBMIT_SIGN_UP_FORM}
    <div>
        <input n:name="$sendButton" class="btn btn-primary" />
    </div>
{/form}
