{varType string $googleQrUrl}

{form g2fa, class => 'container', 'id' => App\FrontModule\Components\SignUpForm::SIGN_UP_FORM_G2FA_ID}
    <div n:if="$form->hasErrors()" class="row cropped-row">
        <div class="col">
            <div n:foreach="$form->getErrors() as $error" class="alert alert-danger">
                <strong>{$error}</strong>
            </div>
        </div>
    </div>

    <p>{_g2faSetUpText|noescape}</p>

    <img src="{$googleQrUrl}">

    <p>{_g2faVerifyText}</p>

    {var $sendButton = App\FrontModule\Components\SignUpForm::SUBMIT_G2FA}
    <div>
        <input n:name="$sendButton" class="btn btn-primary" />
    </div>
{/form}