{form form, class => 'container', 'id' => App\FrontModule\Components\SignInForm::SIGN_IN_FORM_ID}
    <div n:if="$form->hasErrors()" class="row cropped-row">
        <div class="col">
            <div n:foreach="$form->getErrors() as $error" class="alert alert-danger">
                <strong>{$error}</strong>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label n:name="email">{_email}</label>
        <input n:name="email" class="form-control" type="email" />
    </div>

    <div class="form-group">
        <label n:name="password">{_password}</label>
        <input n:name="password" class="form-control" type="password" />
    </div>

    <div>
        <input n:name="send" class="btn btn-primary" />
    </div>

    <div class="text-center">
        <p>{_notAMemberSignUpText|noescape}</p>
    </div>
{/form}
