{form checker, class => 'container', 'id' => App\FrontModule\Components\SignInForm::CHECKER_PASSWORD_GAIN_BY_SYSTEM_FORM_ID}
    <div n:if="$form->hasErrors()" class="row cropped-row">
        <div class="col">
            <div n:foreach="$form->getErrors() as $error" class="alert alert-danger">
                <strong>{$error}</strong>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label n:name="passwordGainBySystem">{_passwordGainBySystem}</label>
        <input n:name="passwordGainBySystem" class="form-control" type="password"/>
    </div>

    <div>
        <input n:name="send" class="btn btn-primary" />
    </div>
{/form}