<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>Registrace</title>
{*    <style>*}
{*        body {*}
{*            background: url("background.png")*}
{*        }*}
{*    </style>*}
</head>
<body>
<p>Vážený pane / Vážená paní,</p>

<p style="#A9A9A9">Děkujeme Vám za registraci u __company-name__.</p>

<p>Prostřednictvím tlačítka níže se můžete přihlásit ke svému účtu.</p>

<p>Taktéž Vám bylo systémem vytvořeno "Systémové heslo", které využijete při ...</p>
<p style="#D3D3D3"><b>__user-account-system-password__</b></p>

<a href="" target="_blank" style="center button">
    Přihlásit se
</a>

</body>
</html>
